@media(max-width: 800px) {
  html {
    font-size: 1em !important;
    user-select: none;
  }
  tr {
    line-height: 2em !important;
  }
  .arrow {
    display: none !important;
  }
  td.display-name {
    padding-left: 1em !important;
  }
  #icHolder {
    top: 20px !important;
  }
  body {
    margin-left: 10px !important;
  }
  .ic {
    display: inherit !important;
  }
  .file-size, .mod-time {
    display: none !important;
  }
}

/* hello standards 👋🏻 */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
    background: #A1EDD8;
}

::-webkit-scrollbar-track {
  background: #111;
}

select, .select-block > button {
  width: initial;
  height: 35px;
  background-color: black;
  color: #A1EDD8;
  border: 1px solid #A1EDD8;
  padding: 6px;
  font-size: 1em;
  font-family: monospace, Arial, Helvetica, sans-serif;
}

html {
  color: #A1EDD8;
  background-color: #000000;
  font-size: 1em;
  font-family: monospace, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scrollbar-color: gray #2d3436;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #A1EDD8;
  text-decoration: none;
  background-color: transparent !important;
  outline: 0;
}
a.linkSelected {
  border-bottom: .01em solid #dfe6e9;
}

tr {
  line-height: 0px;
}

body {
  margin-left: 20px;
}

.highlight {
  background-color: rgba(123, 123, 123, 0.5);
}

.arrow-selected.fa.arrow-icon {
  color: #f1c40f;
  height: inherit;
  width: inherit;
  display: block;
  text-shadow: none;
}

.arrow-icon.fa {
  color: #000000;
  display: none;
}

.arrow {
  height: 17px;
  width: 17px;
  text-align: center;
  font-size: 1.15em;
  font-weight: bold;
  padding-left: .5em;
  padding-bottom: 4px;
  pointer-events: none;
}

table {
  width: 100%;
  border-spacing: 0px
}

td.iconRow {
  text-align: -moz-center;
  text-align: -webkit-center;
  height: 25px;
  width: 25px;
}

td.mod-time {
  text-align: right;
  padding-left: 1em;
  width: 140px;
}

td.file-size {
  text-align: right;
  padding-left: 1em;
  width: 30px;
}

td.display-name {
  padding-left: .5em;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  max-width: 100px;
}

.select-block {
  margin-bottom: 20px;
}

button:focus, select:focus, select, button {
  outline: none;
}

.select-block > button > i {
  pointer-events: none;
}

h1 {
  display: inline-block;
  text-shadow: 3px 3px 2px #3c5951;
  margin-top: 20px;
  word-wrap: break-word;
  width: 80%;
  margin-bottom: 28px;
  cursor: pointer;
}

a:hover, h1 > span:hover, .fa:hover {
  color: #f1c40f;
  text-shadow: 3px 3px 2px #513e3e;
}

.select-block > button > i {
  color: inherit;
}

select:hover, .select-block > button:hover {
  color: #f1c40f;
  border: 1px solid #f1c40f;
  text-shadow: 3px 3px 2px #513e3e;
}

.item-selected {
  color: #f1c40f;
}

#toast {
  top: 7px;
  position: absolute;
  right: 70px;
  font-style: italic;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
}

#quitAll {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMzEuMTEyIDMxLjExMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzEuMTEyIDMxLjExMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBvbHlnb24gcG9pbnRzPSIzMS4xMTIsMS40MTQgMjkuNjk4LDAgMTUuNTU2LDE0LjE0MiAxLjQxNCwwIDAsMS40MTQgMTQuMTQyLDE1LjU1NiAwLDI5LjY5OCAxLjQxNCwzMS4xMTIgMTUuNTU2LDE2Ljk3IA0KCTI5LjY5OCwzMS4xMTIgMzEuMTEyLDI5LjY5OCAxNi45NywxNS41NTYgIiBzdHlsZT0iZmlsbDogd2hpdGU7Ii8+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8L3N2Zz4NCg==");
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 101;
}

.uploading-table {
  padding-bottom: 80px;
}

.bar {
  width: 99%;
  left: 0.5%;
  right: 0.5%;
  position: fixed;
  bottom: 0px;
  max-height: 50%;
  overflow-x: hidden;
  background-color: #000000;
}

.barName {
  width: 100%;
}

.barPc {
  width: 1%;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #3c5951;
  min-width: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#drop-grid {
  align-items: center;
  display: none;
  justify-content: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 999;
  border: 5px dashed #A1EDD8;
  margin: 0px;
  border-radius: 5px;
  text-align: center;
  font-size: 4em;
  font-family: Helvetica;
  color: #A1EDD8;
  opacity: 1;
  background-color: rgba(2, 2, 2, 0.6);
  padding: 20px;
}

#drop-grid::after {
  content: "Drop here to upload";
}

#text-editor {
  font-family: monospace;
  background-color: #2d3436;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 100;
  overflow-y: auto;
  word-wrap: anywhere;
  padding: 20px;
  outline: none;
  width: -moz-available;
  width: -webkit-fill-available;
  border-bottom: 20px #2d3436 solid;
}


#pics {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  justify-content:center;
  align-items:center;
  position: fixed;
  background-color: #000;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  z-index: 99;
}

#picsHolder {
  user-select: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
  object-fit: contain;
  image-orientation: from-image;
}


#video {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  justify-content:center;
  align-items:center;
  position: fixed;
  background-color: #000;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  z-index: 99;
}

#videoHolder {
  height: auto;
  max-height: 100%;
  width: 100%;
  cursor: pointer;
  object-fit: contain;
  image-orientation: from-image;
}

@keyframes fade {
  0%   { opacity:0; }
  20%  { opacity:1; }
  80%  { opacity:1; }
  100% { opacity:0; }
}

.runFade {
  animation: fade 3s 1;
}

.notif {
  opacity:0;
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 37px;
}

#helpHead {
  margin-top: 60px;
  text-align: center;
}

#helpTable {
  border-collapse: collapse;
  width: 70%;
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  overflow-y: auto;
}

#helpTable td {
  padding: 12px;
  border: 1px solid #fff;
  color: white;
  font-size: 18px;
  margin: 0;
}

#help {
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
  z-index: 99;
  font-size: 1em !important;
}

.fa {
  display: block;
  color: #A1EDD8;
  font-size: 19px;
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.fa.notif {
  font-size: 37px;
  pointer-events: none;
}
