<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="{{.StaticPath}}style.css">
    <link rel="stylesheet" href="{{.StaticPath}}fontawesome.css">
    <link href="data:image/png;base64,favicon_will_be_here" rel="icon" type="image/png" />
    <script>
        window.ro = {{.Ro}}
        window.extraPath = {{.ExtraPath}}.slice(0, -1)
        window.onload = function () { js_will_be_here }
    </script>
</head>

<body>
    <div onclick="window.helpOff()" style="display: none;" id="help"><table id="helpTable"><tbody>
        <tr><td>Arrows/Enter</td><td>Browse files/folders</td></tr>
        <tr><td>Ctrl + Enter</td><td>Download selected item as archive</td></tr>
        <tr><td>Ctrl + C</td><td>Copy URL to clipboard</td></tr>
        <tr><td>Ctrl + E</td><td>Rename item</td></tr>
        <tr><td>Ctrl + Del</td><td>Delete item</td></tr>
        <tr><td>Ctrl + U</td><td>Upload new file/folder</td></tr>
        <tr><td>Ctrl + M</td><td>Create a new directory</td></tr>
        <tr><td>Ctrl + X</td><td>Cut selected path</td></tr>
        <tr><td>Ctrl + V</td><td>Paste previously selected paths to directory</td></tr>
        <tr><td>Ctrl + Click</td><td>Download selected item as archive</td></tr>
        <tr><td>Click file icon </td><td>Rename item</td></tr>
        <tr><td>Double click file icon</td><td>Delete item</td></tr>
        <tr><td>Drag-and-drop item on UI</td><td>Move item</td></tr>
        <tr><td>Drag-and-drop external item</td><td>Upload file/folders</td></tr>
        <tr><td>Any other letter</td><td>Fuzzy search</td></tr>
    </tbody></table></div>

    <a id="dlHelper" style="display: none;"></a>
    <div id="drop-grid"></div>
    <input type="file" id="clickupload" style="display:none"/>

    <h1 onclick="return titleClick(event)">.{{.Title}}</h1>

    <div class="select-block"><label for="theme_select">Sort: </label>
        <select id="theme_select" onchange="window.setSort(value)">
            <option value="name" onclick="window.setSort(value)">Name</option>
            <option value="size" onclick="window.setSort(value)">Size</option>
            <option value="modtime" onclick="window.setSort(value)">Mod Time</option>
        </select>
        {{if not .Ro}}
        <button onclick="document.getElementById('clickupload').click()">Upload: <i  class="fa fa-upload manualUp"></i></button>
        <button onclick="window.mkdirBtn()">New Folder: <i class="fa fa-folder-open"></i></button>
        {{end}}
    </div>

    <table id="linkTable">
    {{range .RowsFolders}}
        <tr>
            <td class="iconRow"><i ondblclick="return rm(event)" onclick="return rename(event)" class="btn fa fa-folder-open"></i></td>
            <td class="file-size"><code>{{.Size}}</code></td>
            <td class="mod-time"><code>{{.ModTime}}</code></td>
            <td class="arrow"><i class="arrow-icon fa fa-long-arrow-right"></i></td>
            <td class="display-name"><a class="list-links" oncontextmenu="return setCursorTo(event.target.innerText)" onclick="return onClickLink(event)" href="{{.Href}}">{{.Name}}</a></td>
        </tr>
    {{end}}
    {{range .RowsFiles}}
        <tr>
            <td class="iconRow"><i ondblclick="return rm(event)" onclick="return rename(event)" class="btn fa {{ .Ext }}"></i></td>
            <td class="file-size"><code>{{.Size}}</code></td>
            <td class="mod-time"><code>{{.ModTime}}</code></td>
            <td class="arrow"><i class="arrow-icon fa fa-long-arrow-right"></i></td>
            <td class="display-name"><a class="list-links" oncontextmenu="return setCursorTo(event.target.innerText)" onclick="return onClickLink(event)" href="{{.Href}}">{{.Name}}</a></td>
        </tr>
    {{end}}
    </table>
</body>
<div id="upBar" class="bar">
    <span style="display: none;" class="barName" id="upBarName"></span>
    <div style="display: none; background-color: #A1EDD8;" class="barPc" id="upBarPc">0%</div>
</div>
<div id="ok" class="fa fa-check notif"></div>
<div id="sad" class="fa fa-ban notif"></div>
</html>